interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/mozilla-central/raw-file/tip/config/milestone.txt
  response:
    body:
      string: '# Holds the current milestone.

        # Should be in the format of

        #

        #    x.x.x

        #    x.x.x.x

        #    x.x.x+

        #

        # Referenced by build/moz.configure/init.configure.

        # Hopefully I''ll be able to automate replacement of *all*

        # hardcoded milestones in the tree from these two files.

        #--------------------------------------------------------


        135.0a1

        '
    headers:
      Content-Disposition:
      - inline; filename="milestone.txt"
      Content-Type:
      - text/plain; charset="UTF-8"
    status:
      code: 200
      message: Script output follows
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"134.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.5.1esr\",\n    \"FIREFOX_ESR115\": \"115.18.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"135.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-11-25\",\n    \"LAST_RELEASE_DATE\": \"2024-11-26\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-11-22\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"134.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"134.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"133.0\",\n    \"NEXT_MERGE_DATE\":
        \"2025-01-06\",\n    \"NEXT_RELEASE_DATE\": \"2025-01-07\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2025-01-02\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2025-01-03\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"cce9365f7f316218d2434fbc41cf5d58"'
      Last-Modified:
      - Wed, 04 Dec 2024 22:06:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"134.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.5.1esr\",\n    \"FIREFOX_ESR115\": \"115.18.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"135.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-11-25\",\n    \"LAST_RELEASE_DATE\": \"2024-11-26\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-11-22\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"134.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"134.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"133.0\",\n    \"NEXT_MERGE_DATE\":
        \"2025-01-06\",\n    \"NEXT_RELEASE_DATE\": \"2025-01-07\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2025-01-02\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2025-01-03\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"cce9365f7f316218d2434fbc41cf5d58"'
      Last-Modified:
      - Wed, 04 Dec 2024 22:06:38 GMT
    status:
      code: 200
      message: OK
version: 1
