interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"138.0b7\",\n
        \   \"FIREFOX_ESR\": \"128.9.0esr\",\n    \"FIREFOX_ESR115\": \"115.22.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"139.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2025-03-31\",\n    \"LAST_RELEASE_DATE\": \"2025-04-01\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2025-03-27\",\n    \"LAST_STRINGFREEZE_DATE\": \"2025-03-28\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"138.0b7\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"138.0b7\",\n    \"LATEST_FIREFOX_VERSION\": \"137.0.2\",\n    \"NEXT_MERGE_DATE\":
        \"2025-04-28\",\n    \"NEXT_RELEASE_DATE\": \"2025-04-29\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2025-04-24\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2025-04-25\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e7d6ff9bb35cbbabd7ad5719fdf7a296"'
      Last-Modified:
      - Tue, 15 Apr 2025 13:11:46 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"138.0b7\",\n
        \   \"FIREFOX_ESR\": \"128.9.0esr\",\n    \"FIREFOX_ESR115\": \"115.22.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"139.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2025-03-31\",\n    \"LAST_RELEASE_DATE\": \"2025-04-01\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2025-03-27\",\n    \"LAST_STRINGFREEZE_DATE\": \"2025-03-28\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"138.0b7\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"138.0b7\",\n    \"LATEST_FIREFOX_VERSION\": \"137.0.2\",\n    \"NEXT_MERGE_DATE\":
        \"2025-04-28\",\n    \"NEXT_RELEASE_DATE\": \"2025-04-29\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2025-04-24\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2025-04-25\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e7d6ff9bb35cbbabd7ad5719fdf7a296"'
      Last-Modified:
      - Tue, 15 Apr 2025 13:11:46 GMT
    status:
      code: 200
      message: OK
version: 1
