name: Python CI

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]
  release:
    types: [ released ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install poetry
        run: pipx install poetry

      - name: Install package
        run: poetry install

      - name: Run linters
        run: poetry run pre-commit run -a

  test:
    name: Python ${{ matrix.python-version }} (${{ matrix.platform }})
    needs: lint
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.10"
            platform: ubuntu-latest
            toxenv: py310
          - python-version: "3.11"
            platform: ubuntu-latest
            toxenv: py311
          - python-version: "3.12"
            platform: ubuntu-latest
            toxenv: py312
          - python-version: "3.13"
            platform: ubuntu-latest
            toxenv: py313
          - python-version: "3.14"
            platform: ubuntu-latest
            toxenv: py314
          - python-version: "3.12"
            platform: macos-latest
            toxenv: py312
          - python-version: "3.12"
            platform: windows-latest
            toxenv: py312

    steps:
      - uses: actions/checkout@v4

      - name: Install python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Export PIPX_DEFAULT_PYTHON
        shell: bash
        run: echo "PIPX_DEFAULT_PYTHON=${{ steps.setup-python.outputs.python-path }}" >> $GITHUB_ENV

      - name: Install poetry
        run: pipx install poetry

      - name: Install tox
        run: pipx install tox

      - name: Install package
        run: poetry install

      - name: Run tests
        run: tox -e ${{ matrix.toxenv }}

      - name: Run codecov
        env:
          CODECOV_TOKEN:
            ${{ secrets.CODECOV_TOKEN }}
        run: tox -e codecov


  release:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install poetry
        run: pipx install poetry

      - name: Install package
        run: poetry install

      - name: Run semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "bugmon@mozilla.com"
          git config --global user.name "semantic-release"
          poetry run semantic-release -v version --no-changelog
          poetry run semantic-release publish

